parameters:
	ignoreErrors:
		-
			message: '#^Instanceof between ITKDev\\EntityBundle\\Entity\\Contract\\IdentifiableInterface&Symfony\\Component\\Security\\Core\\User\\UserInterface and ITKDev\\EntityBundle\\Entity\\Contract\\IdentifiableInterface will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Command/PrivacyAnonymizeCommand.php

		-
			message: '#^Strict comparison using \=\=\= between '''' and class\-string\<ITKDev\\EntityBundle\\Entity\\Contract\\IdentifiableInterface&Symfony\\Component\\Security\\Core\\User\\UserInterface\> will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Command/PrivacyAnonymizeCommand.php

		-
			message: '#^Call to function is_array\(\) with array\{strategy\: string, replacement\?\: string\|null\} will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/DependencyInjection/ITKDevEntityExtension.php

		-
			message: '#^Method ITKDev\\EntityBundle\\DependencyInjection\\ITKDevEntityExtension\:\:hasITKDevEntityAttribute\(\) has parameter \$ref with generic class ReflectionClass but does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/DependencyInjection/ITKDevEntityExtension.php

		-
			message: '#^Method ITKDev\\EntityBundle\\DependencyInjection\\ITKDevEntityExtension\:\:mergeAnonymizationRules\(\) should return array\<class\-string, list\<array\{property\: string, strategy\: string, replacement\: string\|null\}\>\> but returns array\<string, list\<array\{property\: string, strategy\: string, replacement\: string\|null\}\>\>\.$#'
			identifier: return.type
			count: 1
			path: src/DependencyInjection/ITKDevEntityExtension.php

		-
			message: '#^Offset ''strategy'' on array\{strategy\: string, replacement\?\: string\|null\} in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.offset
			count: 1
			path: src/DependencyInjection/ITKDevEntityExtension.php

		-
			message: '#^Result of \|\| is always false\.$#'
			identifier: booleanOr.alwaysFalse
			count: 1
			path: src/DependencyInjection/ITKDevEntityExtension.php

		-
			message: '#^Method ITKDev\\EntityBundle\\Doctrine\\Filter\\ArchivableFilter\:\:addFilterConstraint\(\) has parameter \$targetTableAlias with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Doctrine/Filter/ArchivableFilter.php

		-
			message: '#^Method ITKDev\\EntityBundle\\Doctrine\\Filter\\SoftDeleteFilter\:\:addFilterConstraint\(\) has parameter \$targetTableAlias with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Doctrine/Filter/SoftDeleteFilter.php

		-
			message: '#^Call to an undefined method DH\\Auditor\\Provider\\ConfigurationInterface\:\:getEntities\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Privacy/AuditScrubber.php

		-
			message: '#^Method ITKDev\\EntityBundle\\Privacy\\RuleApplier\:\:locateProperty\(\) has parameter \$ref with generic class ReflectionClass but does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/Privacy/RuleApplier.php

		-
			message: '#^Generator expects value type Symfony\\Component\\HttpKernel\\Bundle\\BundleInterface, object given\.$#'
			identifier: generator.valueType
			count: 1
			path: tests/App/Kernel.php

		-
			message: '#^Property ITKDev\\EntityBundle\\Tests\\Fixtures\\Entity\\FixtureEntity\:\:\$createdAt type mapping mismatch\: property can contain DateTimeImmutable\|null but database expects DateTimeImmutable\.$#'
			identifier: doctrine.columnType
			count: 1
			path: tests/Fixtures/Entity/FixtureEntity.php

		-
			message: '#^Property ITKDev\\EntityBundle\\Tests\\Fixtures\\Entity\\FixtureEntity\:\:\$updatedAt type mapping mismatch\: property can contain DateTimeImmutable\|null but database expects DateTimeImmutable\.$#'
			identifier: doctrine.columnType
			count: 1
			path: tests/Fixtures/Entity/FixtureEntity.php

		-
			message: '#^Call to an undefined method Symfony\\Component\\Security\\Core\\User\\UserInterface\:\:getId\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: tests/Integration/AbstractITKDevEntityIntegrationTest.php

		-
			message: '#^Call to an undefined method object\:\:setToken\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/Integration/AbstractITKDevEntityIntegrationTest.php

		-
			message: '#^Property ITKDev\\EntityBundle\\Tests\\Integration\\AbstractITKDevEntityIntegrationTest\:\:\$em \(Doctrine\\ORM\\EntityManagerInterface\) does not accept object\.$#'
			identifier: assign.propertyType
			count: 1
			path: tests/Integration/AbstractITKDevEntityIntegrationTest.php

		-
			message: '#^Call to an undefined method object\:\:setToken\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Integration/AuditLogIntegrationTest.php

		-
			message: '#^Property ITKDev\\EntityBundle\\Tests\\Integration\\AuditLogIntegrationTest\:\:\$auditReader \(DH\\Auditor\\Provider\\Doctrine\\Persistence\\Reader\\Reader\) does not accept object\.$#'
			identifier: assign.propertyType
			count: 1
			path: tests/Integration/AuditLogIntegrationTest.php

		-
			message: '#^Property ITKDev\\EntityBundle\\Tests\\Integration\\AuditLogIntegrationTest\:\:\$em \(Doctrine\\ORM\\EntityManagerInterface\) does not accept object\.$#'
			identifier: assign.propertyType
			count: 1
			path: tests/Integration/AuditLogIntegrationTest.php

		-
			message: '#^Call to an undefined method object\:\:setToken\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Integration/Privacy/AuditRetentionSweepTest.php

		-
			message: '#^Cannot access offset ''blame_id'' on array\<string, mixed\>\|false\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Integration/Privacy/AuditRetentionSweepTest.php

		-
			message: '#^Cannot access offset ''diffs'' on array\<string, mixed\>\|false\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 3
			path: tests/Integration/Privacy/AuditRetentionSweepTest.php

		-
			message: '#^Cannot access offset ''ip'' on array\<string, mixed\>\|false\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Integration/Privacy/AuditRetentionSweepTest.php

		-
			message: '#^Property ITKDev\\EntityBundle\\Tests\\Integration\\Privacy\\AuditRetentionSweepTest\:\:\$bulk \(ITKDev\\EntityBundle\\Privacy\\BulkAnonymizer\) does not accept object\.$#'
			identifier: assign.propertyType
			count: 1
			path: tests/Integration/Privacy/AuditRetentionSweepTest.php

		-
			message: '#^Property ITKDev\\EntityBundle\\Tests\\Integration\\Privacy\\AuditRetentionSweepTest\:\:\$clock \(Symfony\\Component\\Clock\\MockClock\) does not accept object\.$#'
			identifier: assign.propertyType
			count: 1
			path: tests/Integration/Privacy/AuditRetentionSweepTest.php

		-
			message: '#^Property ITKDev\\EntityBundle\\Tests\\Integration\\Privacy\\AuditRetentionSweepTest\:\:\$em \(Doctrine\\ORM\\EntityManagerInterface\) does not accept object\.$#'
			identifier: assign.propertyType
			count: 1
			path: tests/Integration/Privacy/AuditRetentionSweepTest.php

		-
			message: '#^Call to an undefined method object\:\:setToken\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Integration/Privacy/AuditScrubberTest.php

		-
			message: '#^Property ITKDev\\EntityBundle\\Tests\\Integration\\Privacy\\AuditScrubberTest\:\:\$auditReader \(DH\\Auditor\\Provider\\Doctrine\\Persistence\\Reader\\Reader\) does not accept object\.$#'
			identifier: assign.propertyType
			count: 1
			path: tests/Integration/Privacy/AuditScrubberTest.php

		-
			message: '#^Property ITKDev\\EntityBundle\\Tests\\Integration\\Privacy\\AuditScrubberTest\:\:\$em \(Doctrine\\ORM\\EntityManagerInterface\) does not accept object\.$#'
			identifier: assign.propertyType
			count: 1
			path: tests/Integration/Privacy/AuditScrubberTest.php

		-
			message: '#^Property ITKDev\\EntityBundle\\Tests\\Integration\\Privacy\\AuditScrubberTest\:\:\$subjectAnonymizer \(ITKDev\\EntityBundle\\Privacy\\SubjectAnonymizer\) does not accept object\.$#'
			identifier: assign.propertyType
			count: 1
			path: tests/Integration/Privacy/AuditScrubberTest.php

		-
			message: '#^Cannot call method getLabel\(\) on ITKDev\\EntityBundle\\Tests\\Fixtures\\Entity\\FixtureEntity\|null\.$#'
			identifier: method.nonObject
			count: 3
			path: tests/Integration/Privacy/BulkAnonymizerTest.php

		-
			message: '#^Cannot call method isAnonymized\(\) on ITKDev\\EntityBundle\\Tests\\Fixtures\\Entity\\FixtureEntity\|null\.$#'
			identifier: method.nonObject
			count: 3
			path: tests/Integration/Privacy/BulkAnonymizerTest.php

		-
			message: '#^Property ITKDev\\EntityBundle\\Tests\\Integration\\Privacy\\BulkAnonymizerTest\:\:\$anonymizer \(ITKDev\\EntityBundle\\Privacy\\BulkAnonymizer\) does not accept object\.$#'
			identifier: assign.propertyType
			count: 1
			path: tests/Integration/Privacy/BulkAnonymizerTest.php

		-
			message: '#^Property ITKDev\\EntityBundle\\Tests\\Integration\\Privacy\\BulkAnonymizerTest\:\:\$clock \(Symfony\\Component\\Clock\\MockClock\) does not accept object\.$#'
			identifier: assign.propertyType
			count: 1
			path: tests/Integration/Privacy/BulkAnonymizerTest.php

		-
			message: '#^Property ITKDev\\EntityBundle\\Tests\\Integration\\Privacy\\BulkAnonymizerTest\:\:\$em \(Doctrine\\ORM\\EntityManagerInterface\) does not accept object\.$#'
			identifier: assign.propertyType
			count: 1
			path: tests/Integration/Privacy/BulkAnonymizerTest.php

		-
			message: '#^Call to an undefined method object\:\:setToken\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Integration/Privacy/PrivacyAnonymizeCommandTest.php

		-
			message: '#^Parameter \#1 \$kernel of class Symfony\\Bundle\\FrameworkBundle\\Console\\Application constructor expects Symfony\\Component\\HttpKernel\\KernelInterface, Symfony\\Component\\HttpKernel\\KernelInterface\|null given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Integration/Privacy/PrivacyAnonymizeCommandTest.php

		-
			message: '#^Property ITKDev\\EntityBundle\\Tests\\Integration\\Privacy\\PrivacyAnonymizeCommandTest\:\:\$em \(Doctrine\\ORM\\EntityManagerInterface\) does not accept object\.$#'
			identifier: assign.propertyType
			count: 1
			path: tests/Integration/Privacy/PrivacyAnonymizeCommandTest.php

		-
			message: '#^Cannot call method getLabel\(\) on ITKDev\\EntityBundle\\Tests\\Fixtures\\Entity\\FixtureEntity\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Integration/Privacy/PrivacyAnonymizeStaleCommandTest.php

		-
			message: '#^Parameter \#1 \$kernel of class Symfony\\Bundle\\FrameworkBundle\\Console\\Application constructor expects Symfony\\Component\\HttpKernel\\KernelInterface, Symfony\\Component\\HttpKernel\\KernelInterface\|null given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Integration/Privacy/PrivacyAnonymizeStaleCommandTest.php

		-
			message: '#^Property ITKDev\\EntityBundle\\Tests\\Integration\\Privacy\\PrivacyAnonymizeStaleCommandTest\:\:\$clock \(Symfony\\Component\\Clock\\MockClock\) does not accept object\.$#'
			identifier: assign.propertyType
			count: 1
			path: tests/Integration/Privacy/PrivacyAnonymizeStaleCommandTest.php

		-
			message: '#^Property ITKDev\\EntityBundle\\Tests\\Integration\\Privacy\\PrivacyAnonymizeStaleCommandTest\:\:\$em \(Doctrine\\ORM\\EntityManagerInterface\) does not accept object\.$#'
			identifier: assign.propertyType
			count: 1
			path: tests/Integration/Privacy/PrivacyAnonymizeStaleCommandTest.php

		-
			message: '#^Call to an undefined method object\:\:getId\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Integration/Privacy/StaleEntityFinderTest.php

		-
			message: '#^Property ITKDev\\EntityBundle\\Tests\\Integration\\Privacy\\StaleEntityFinderTest\:\:\$clock \(Symfony\\Component\\Clock\\MockClock\) does not accept object\.$#'
			identifier: assign.propertyType
			count: 1
			path: tests/Integration/Privacy/StaleEntityFinderTest.php

		-
			message: '#^Property ITKDev\\EntityBundle\\Tests\\Integration\\Privacy\\StaleEntityFinderTest\:\:\$em \(Doctrine\\ORM\\EntityManagerInterface\) does not accept object\.$#'
			identifier: assign.propertyType
			count: 1
			path: tests/Integration/Privacy/StaleEntityFinderTest.php

		-
			message: '#^Property ITKDev\\EntityBundle\\Tests\\Integration\\Privacy\\StaleEntityFinderTest\:\:\$finder \(ITKDev\\EntityBundle\\Privacy\\StaleEntityFinder\) does not accept object\.$#'
			identifier: assign.propertyType
			count: 1
			path: tests/Integration/Privacy/StaleEntityFinderTest.php

		-
			message: '#^Call to an undefined method object\:\:setToken\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Integration/Privacy/SubjectAnonymizerTest.php

		-
			message: '#^Cannot call method getLabel\(\) on ITKDev\\EntityBundle\\Tests\\Fixtures\\Entity\\FixtureEntity\|null\.$#'
			identifier: method.nonObject
			count: 3
			path: tests/Integration/Privacy/SubjectAnonymizerTest.php

		-
			message: '#^Cannot call method isAnonymized\(\) on ITKDev\\EntityBundle\\Tests\\Fixtures\\Entity\\FixtureEntity\|null\.$#'
			identifier: method.nonObject
			count: 2
			path: tests/Integration/Privacy/SubjectAnonymizerTest.php

		-
			message: '#^Cannot call method isDeleted\(\) on ITKDev\\EntityBundle\\Tests\\Fixtures\\Entity\\FixtureEntity\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Integration/Privacy/SubjectAnonymizerTest.php

		-
			message: '#^Property ITKDev\\EntityBundle\\Tests\\Integration\\Privacy\\SubjectAnonymizerTest\:\:\$anonymizer \(ITKDev\\EntityBundle\\Privacy\\SubjectAnonymizer\) does not accept object\.$#'
			identifier: assign.propertyType
			count: 1
			path: tests/Integration/Privacy/SubjectAnonymizerTest.php

		-
			message: '#^Property ITKDev\\EntityBundle\\Tests\\Integration\\Privacy\\SubjectAnonymizerTest\:\:\$em \(Doctrine\\ORM\\EntityManagerInterface\) does not accept object\.$#'
			identifier: assign.propertyType
			count: 1
			path: tests/Integration/Privacy/SubjectAnonymizerTest.php

		-
			message: '#^Method ITKDev\\EntityBundle\\Tests\\Unit\\DependencyInjection\\ArchivableConfigTest\:\:prependContainer\(\) has parameter \$config with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Unit/DependencyInjection/ArchivableConfigTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertIsArray\(\) with array\<array\<string, mixed\>\> will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Unit/DependencyInjection/AuditConfigTest.php

		-
			message: '#^Method ITKDev\\EntityBundle\\Tests\\Unit\\DependencyInjection\\AuditConfigTest\:\:prependContainer\(\) has parameter \$config with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Unit/DependencyInjection/AuditConfigTest.php

		-
			message: '#^Method ITKDev\\EntityBundle\\Tests\\Unit\\DependencyInjection\\AuditIgnoreTest\:\:prependContainer\(\) has parameter \$config with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Unit/DependencyInjection/AuditIgnoreTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Symfony\\\\Component\\\\DependencyInjection\\\\Definition'' and Symfony\\Component\\DependencyInjection\\Definition will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Unit/DependencyInjection/SoftDeleteConfigTest.php

		-
			message: '#^Method ITKDev\\EntityBundle\\Tests\\Unit\\DependencyInjection\\SoftDeleteConfigTest\:\:prependContainer\(\) has parameter \$config with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Unit/DependencyInjection/SoftDeleteConfigTest.php

		-
			message: '#^Method ITKDev\\EntityBundle\\Tests\\Unit\\DependencyInjection\\ThirdPartyOverrideTest\:\:prependContainer\(\) has parameter \$config with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Unit/DependencyInjection/ThirdPartyOverrideTest.php

		-
			message: '#^Parameter \#2 \$array of static method PHPUnit\\Framework\\Assert\:\:assertArrayHasKey\(\) expects array\<mixed\>\|ArrayAccess\<\(int\|string\), mixed\>, array\|bool\|float\|int\|string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Unit/DependencyInjection/ThirdPartyOverrideTest.php

		-
			message: '#^Method ITKDev\\EntityBundle\\Tests\\Unit\\DependencyInjection\\UserClassRequirementTest\:\:prependContainer\(\) has parameter \$config with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Unit/DependencyInjection/UserClassRequirementTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Symfony\\\\Component\\\\Uid\\\\Ulid'' and Symfony\\Component\\Uid\\Ulid will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Unit/Entity/Trait/IdentifiableTraitTest.php
